<div id="<%= dom_id article %>" class="main">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <% if article.avatar.attached? %>
      <%= resize_image_tag(article.avatar, 200, 200) %>
      <%= link_to "Delete avatar", purge_avatar_article_path(article), data: { turbo_method: :delete }%>
      <!-- <%= link_to "Delete avatar", purge_avatar_article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %> -->
      <%= button_to "Delete avatar", purge_avatar_article_path(article), method: :delete%>
    <% end %>
  </p>

  <p>
    <strong>Images:</strong>
    <% if article.images.attached? %>
      <div class="file-container">
        <% article.images.each do |attachment| %>
          <% if attachment.image? %>
            <div class="file-thumbnail">
              <%= resize_image_tag(attachment, 250, 250) %>
            </div>
          <% elsif attachment.audio? %>
            <div class="file-thumbnail">
              <audio controls>
                <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
              </audio>
            </div>
          <% elsif attachment.video? %>
            <div class="file-thumbnail">
              <video controls width="480">
                <source src="<%= rails_blob_url(attachment) %>" type="<%= attachment.content_type %>"/>
              </video>
            </div>
          <% else %>
            <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= article.content %>
  </p>

</div>
