<!DOCTYPE html>
<html>
  <head>
    <title>ZeroToHero</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="main">

    <!-- Text using bootstrap -->
    <!-- <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button> -->

    <p style="color: green" class="notice"><%= notice %></p>
    <p style="color: red" class="alert"><%= alert %></p>

    <strong style="color: yellow"><%= link_to "HOME", root_path %></strong>
    <strong style="color: yellow"><%= link_to "TELEGRAM", telegrams_path %></strong>
    <strong style="color: yellow"><%= link_to "ARTICLES", articles_path %></strong></br></br>
    <hr>
    <br>
    <% if user_signed_in? %>
      <strong style="color: blue">Hello <%= current_user.email.split("@").first.capitalize %></strong>
      <br>

      <%= current_user.nickname %>
      <br>
      <%= resize_image_tag(current_user.image_url, 100, 100) if current_user.image_url? %>
      <br>
      <%= current_user.uid %>
      <br>
      <%= current_user.provider %>
      <br>

      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <br>
      <%= link_to "Account Settings", edit_user_registration_path %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <br>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <hr>
    <br>
    <%= yield %>
  </body>
</html>

<style>
  .file-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .file-thumbnail {
    width: fit-content; /* Độ rộng cố định cho mỗi phần tử */
    margin-right: 20px; /* Khoảng cách giữa các phần tử */
  }

  .main {
    padding: 30px;
  }
</style>
